{% extends "base.html" %}

{% block main %}
<body>
    
<h1 class="page-header">Profiles</h1>
{% for user in users %}
    <div class="listing">
    <div class="row photo">
        <img class="card-img-top" src="{{url_for('static', filename='uploads/'+user.photo) }}" alt="Profile picture">
    </div>
    
    <p class='data'>
        {{user.first_name}} {{user.last_name}}
        {{user.gender}}
        {{user.location}}
    </p>
        <a href='/profiles/{{user.id}}' class="btn btn-primary">View Profile</a>
    
    </div>
{% endfor %}
</body>
{%endblock%}
