{% extends "base.html" %}

{% block main %}


<div class="card">
  <div class="card-body">
  	<div class="top">
  		<div class="row photo">
	  		<img class="card-img-top" src="{{url_for('static', filename='uploads/'+user.photo) }}" alt="Profile picture">
	  	</div>
	    <h3>{{user.first_name}} {{user.last_name}}</h3>
	    <h6> {{user.email}} </h6>
	    <h5> {{user.location}}</h5>
	    <h5> Joined on {{ created_on }}</h5>
	    
  	</div>
  	<div class="base">
  		<h3>About Me</h3>
  		<p class="card-text">{{user.bio}}</p> 
  		<div class="container">
			<div class="row">
				<div class="col-">
					<p class="text-muted">Send Message</p>
				</div>
				<div class="col-">
					<p class="text-muted">Follow</p>
				</div>
			</div>
    
  </div>
</div>

{% endblock %}




